
/* CSS for project */
body {
	font-family: "Montserrat", sans-serif;
	background-color: #eee;
}
/* CSS for images - need for packages */
.img-fluid {
	max-width: 70%;
	height: auto;
}

/* navbar */
.sidebar {
	height: 100vh;
	background: linear-gradient(rgba(70, 64, 156, 0.548), rgba(0, 0, 0, 0.9)), url(../img/img1.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 5px 7px 25px #999;
}

.bottom-border {
	border-bottom: 1px groove #eee;
}

.sidebar-link {
	transition: all 0.4s;
}

.sidebar-link:hover {
	background-color: #444;
	border-radius: 5px;
}

/* css for top navbar */
.top-navbar {
	position: static;
	background: linear-gradient(rgba(167, 165, 202, 0.548), rgba(53, 27, 87, 0.377)), url(../img/img1.jpeg);
}



