
{% extends "base.html" %} 
{% block mainblockspecial %}
<div>
    <div class="row">
    {% for obj in staycayObj %}
        <div class="col col-sm-4 p-3">
            <div class="card">
                <div class="card-header">
                    <!--Url for staycations-->
                    <img class='img-fluid' src={{obj.image_url}}></img>
                    
                </div>
                <!--Description-->
                <div class="card-body">
                    <!--Name-->
                    <h5>{{obj.hotel_name}}</h5>
                    <a>{{obj.description}}</a>
                </div>
                
            </div>
        </div>
        <!-- date selection card -->
        <div class="col col-sm-4 p-3 h-50">
            <div class="card">
                <div class="card-header">
                    <!--Header-->
                    <h3>Select This Offer</h3>
                    
                </div>
                <!--Description-->
                <div class="card-body">
                    <form action="/booking/{{obj.id}}" method="post" enctype="multipart/form-data">
                        <input type="hidden" value={{obj.id}}></input>
                        <label for="bookingDatePicker"><h5>Check_in_date</h5></label>
                        <input class="form-control" type="date" id="bookingDatePicker" name="bookingDatePicker"></input>
                        <br>
                        <div>
                            <button class="btn btn-sm-2 btn-primary" value="booking" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
{% endblock %}
