{% extends "base.html" %}

{% block mainblock %}
<body>
    <div class="card-header">
        <h3>Package Incoming</h3>
    </div>
    <div class="card-body">
        <!-- <a href='logout'>Logout</a> -->
        <div class="chart-container" >
            <canvas id="myWonderfulChart" width="400" height="300"></canvas>
        </div>      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/myWonderfulChart.js')}}"></script>

</body>
{% endblock %}
</html>
