
{% extends "base.html" %}

{% block mainblockspecial %}
<div>
	<div class="row">
		<!-- loop to display cards -->
		{% if staycayList != null %}
		{% for obj in staycayList %}
		<div class="col col-sm-4 p-3">
			<div class= "card">
				<div class="card-header">
					<!--Url for staycations-->
					<img class='img-fluid' src={{obj.image_url}}></img>
					
				</div>
				<!--Description-->
				<div class="card-body">
					<!--Name-->
					<h5>{{obj.hotel_name}}</h5>
					<a>{{obj.description}}</a>
					<!--Book button-->
					<br>
					<!--Renders the url for specific booking for the particular hotel using its id-->
					<button class="btn btn-sm-2 btn-primary" id="bookingBtn" onclick="window.location.href = '{{ url_for('booking') +'/'+  obj.id|string}} ';" type="button" hotel_name="obj.hotel_name">Book</button>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}
